@charset "UTF-8";
h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

ul, ol {
  list-style: none;
  list-style-image: none;
}

a {
  display: block;
  word-break: break-all;
}

a:link,
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-callout: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="search"],
select {
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 10px 5px;
  color: #82828c;
  font-size: 13px;
  background-color: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

button {
  -webkit-touch-callout: none;
  touch-callout: none;
}

body,
.btn_gray,
.btn_yellow,
.read_more {
  font-size: 12px;
}

.em {
  color: #CC0000;
  font-weight: 700;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  height: 100%;
  line-height: 1.4;
  color: #000000;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  position: relative;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
}

/* common background */
.page {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}

.pageLightGray {
  padding-bottom: 20px;
}

.pageAppV4 {
  padding-bottom: 0;
}

/* feed background */
.pageWhite {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 125px;
  background-color: #ffffff;
}

.pageWhiteWebapp {
  padding-top: 90px;
}

.frameContainer {
  width: 320px;
  margin: 0 auto;
}

.globalNaviBadge {
  position: absolute;
  display: inline-block;
  top: -10px;
  right: 10px;
  max-width: 48px;
  min-width: 18px;
  height: 18px;
  margin-left: 5px;
  padding: 1px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background-color: #ff3264;
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
}

.nativeConsole {
  padding: 3px 5px;
  z-index: 100000;
  position: fixed;
  bottom: 50px;
  width: 100%;
  background: #ccf;
  opacity: 0.7;
}

.pageAuth {
  width: 100%;
  min-height: 100%;
  padding-bottom: 50px;
  background-repeat: repeat;
  color: #333;
  background-image: none;
  background: #f7f7f4;
}

.bgWhiteBorderBtm {
  border-bottom: 1px solid #d6d6d3;
}

.btnAuth {
  padding: 0;
  line-height: 43px;
  margin: 0 0 9px 0;
  display: block;
  width: 100%;
  min-height: 35px;
  padding-top: 5px;
  padding-bottom: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 28px;
  padding: 3px 10px 3px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.authLink {
  margin-top: 5px;
  border: solid 1px #ddd;
  background: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
}

.authLinkItem {
  cursor: pointer;
  display: -webkit-box !important;
  -webkit-user-select: none;
  position: relative;
  padding: 7px 12px;
  background: 0;
  box-sizing: border-box;
  border-bottom: dotted 1px #ddd;
  color: #000;
}

.authLinkItem:last-child {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
}

.authLinkItem h2 {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 15px;
  vertical-align: baseline;
}

.authLinkItem .serviceIcon {
  display: block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  background-position: 0 0;
  background-repeat: no-repeat;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
}

.authNote {
  margin-top: 20px;
  color: #666;
}

.authNote li {
  padding-bottom: 10px;
}

.authNote a {
  display: inline;
  font-weight: bold;
  color: #5885a7;
}

.authFooter,
.authFooter a {
  color: #ababab;
}

.authFooter {
  margin-top: 15px;
  border-top: 1px dotted #ababab;
}

.authFooter .footerLink {
  text-align: center;
}

.authFooter .footerLink li {
  padding-left: 2px;
  padding-right: 5px;
  display: inline-block;
  border-right: 1px solid #c3c3c3;
  line-height: 1;
}

.authFooter .footerLink li:last-child {
  border-right: 0 none;
}

/*画面タップ時のちらつき対策*/
#pashaoku_layout_container {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
