/* typography */
.fs8 {
  font-size: 8px;
}

.s {
  font-size: 8px;
}

.fs9 {
  font-size: 9px;
}

.sm {
  font-size: 9px;
}

.fs10 {
  font-size: 10px;
}

.m {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.ml {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.l {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs20 {
  font-size: 20px;
}

.fs25 {
  font-size: 25px;
}

.underline {
  text-decoration: underline !important;
}

.lighter {
  font-weight: lighter;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.baseline {
  vertical-align: baseline;
}

.textBottom {
  vertical-align: text-bottom;
}

.lh1 {
  line-height: 1;
}

.lh2 {
  line-height: 2;
}

.ls0 {
  letter-spacing: 0;
}

.ls1 {
  letter-spacing: 1;
}

.ls2 {
  letter-spacing: 2;
}

/* color scheme */
.white {
  color: #ffffff !important;
}

.lightGray {
  color: #aaaab4 !important;
}

.gray {
  color: #969696 !important;
}

.darkGray {
  color: #646464 !important;
}

.lightBlack {
  color: #323232 !important;
}

.middleGray {
  color: #bec8d7 !important;
}

/* position */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* display */
.flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.table {
  display: table;
  table-layout: fixed;
  position: relative;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.inline {
  display: inline;
}

.inlineBlock {
  display: inline-block;
}

/* state */
.block {
  display: block !important;
}

.none {
  display: none !important;
}

.disabled {
  background-color: #999999 !important;
}

.hidden {
  visibility: hidden;
}

/* spase */
.p1 {
  padding: 1px;
}

.p2 {
  padding: 2px;
}

.p3 {
  padding: 3px;
}

.p4 {
  padding: 4px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.pt1 {
  padding-top: 1px;
}

.pt2 {
  padding-top: 2px;
}

.pt3 {
  padding-top: 3px;
}

.pt4 {
  padding-top: 4px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pb1 {
  padding-bottom: 1px;
}

.pb2 {
  padding-bottom: 2px;
}

.pb3 {
  padding-bottom: 3px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl1 {
  padding-left: 1px;
}

.pl2 {
  padding-left: 2px;
}

.pl3 {
  padding-left: 3px;
}

.pl4 {
  padding-left: 4px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pr1 {
  padding-right: 1px;
}

.pr2 {
  padding-right: 2px;
}

.pr3 {
  padding-right: 3px;
}

.pr4 {
  padding-right: 4px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pv1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pv2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pv3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.pv4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ph1 {
  padding-left: 1px;
  padding-right: 1px;
}

.ph2 {
  padding-left: 2px;
  padding-right: 2px;
}

.ph3 {
  padding-left: 3px;
  padding-right: 3px;
}

.ph4 {
  padding-left: 4px;
  padding-right: 4px;
}

.ph5 {
  padding-left: 5px;
  padding-right: 5px;
}

.ph10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph15 {
  padding-left: 15px;
  padding-right: 15px;
}

.ph20 {
  padding-left: 20px;
  padding-right: 20px;
}

.m1 {
  margin: 1px;
}

.m2 {
  margin: 2px;
}

.m3 {
  margin: 3px;
}

.m4 {
  margin: 4px;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.mt1 {
  margin-top: 1px;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mr1 {
  margin-right: 1px;
}

.mr2 {
  margin-right: 2px;
}

.mr3 {
  margin-right: 3px;
}

.mr4 {
  margin-right: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mb1 {
  margin-bottom: 1px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml1 {
  margin-left: 1px;
}

.ml2 {
  margin-left: 2px;
}

.ml3 {
  margin-left: 3px;
}

.ml4 {
  margin-left: 4px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.mv1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mv2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mv3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mv4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mh1 {
  margin-left: 1px;
  margin-right: 1px;
}

.mh2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mh3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mh4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mh5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mh20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mhAuto {
  margin: 0 auto;
}

/* dimension */
.fill {
  width: 100%;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.third {
  width: 33.33%;
}

.twoThirds {
  width: 66.66%;
}

.w10 {
  width: 10px;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w70 {
  width: 70px;
}

.w80 {
  width: 80px;
}

.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.h10 {
  height: 10px;
}

.h20 {
  height: 20px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h60 {
  height: 60px;
}

.h70 {
  height: 70px;
}

.h80 {
  height: 80px;
}

.h90 {
  height: 90px;
}

.h100 {
  height: 100px;
}

.h120 {
  height: 120px;
}

.h150 {
  height: 150px;
}

.h200 {
  height: 200px;
}

/* misc */
.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.floatNo {
  float: none !important;
}

/* border */
.btLightWhite {
  border-top: 1px solid #ffffff;
}

.bbLightWhite {
  border-bottom: 1px solid #ffffff;
}

.blLightWhite {
  border-left: 1px solid #ffffff;
}

.brLightWhite {
  border-right: 1px solid #ffffff;
}

.radiusNone {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
}

/* rotate */
.trsfR180 {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/*
## non-semantic helper classes
Please define your styles before this section.
*/
.backfaceHidden {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overflowHidden {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.breakAll {
  word-break: break-all;
}

/* prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/* * Image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent !important;
  background-color: transparent;
}

.ir a {
  border: 0 !important;
  font: 0/0 a !important;
  text-shadow: none !important;
  color: transparent !important;
  background-color: transparent !important;
}

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* * alternateText */
.altT {
  display: inline-block;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

/* * Hide only visually, but have it available for screenreaders:h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* * Extends the .visuallyhidden class to allow the element to be focusable * when navigated to via the keyboard:h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* * Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* * Contain floats:h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* * mediaFloat */
.mdFlt {
  overflow: hidden;
}

.mdFlt .mdL {
  float: left;
}

.mdFlt .mdR {
  float: right;
}

.mdFlt .mdL img, .mdFlt .mdR img {
  display: block;
}

.mdFlt .otL, .mdFlt .otR {
  overflow: hidden;
}

/* * form reset */
textarea, input {
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
