.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: #1e90ff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.logoMedtech {
  position: absolute;
  top: 19px;
  left: 15px;
  width: 62px;
  height: 13px;
  background-image: url("../../image/sp/img_logo.png");
  background-repeat: no-repeat;
  -moz-background-size: 62px 13px;
  -o-background-size: 62px 13px;
  -webkit-background-size: 62px 13px;
  background-size: 62px 13px;
}

.boxSettingSession {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btnStyle {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  border: 0 none;
}

.btnSetting {
  width: 60px;
  height: 28px;
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 0 #7e7e7e;
}

.btnGood {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: #666666;
  font-size: 18px;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 0 #7e7e7e;
}

.btnGood.touchActive {
  position: relative;
  top: 3px;
  box-shadow: 0 1px 0 #7e7e7e;
}

.btnQuizSelect {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 0 #7e7e7e;
}

.listQuizSelect .item:nth-child(1) .btnQuizSelect {
  background-color: #ff0033;
  box-shadow: 0 4px 0 #cc0029;
}

.listQuizSelect .item:nth-child(2) .btnQuizSelect {
  background-color: #4169e1;
  box-shadow: 0 4px 0 #3250ab;
}

.listQuizSelect .item:nth-child(3) .btnQuizSelect {
  background-color: #ffcc00;
  box-shadow: 0 4px 0 #cca300;
}

.listQuizSelect .item:nth-child(4) .btnQuizSelect {
  background-color: #228b22;
  box-shadow: 0 4px 0 #155915;
}

.listQuizSelect .item:nth-child(5) .btnQuizSelect {
  background-color: #cc33cc;
  box-shadow: 0 4px 0 #992699;
}

.listQuizSelect .item:nth-child(6) .btnQuizSelect {
  background-color: #ff6633;
  box-shadow: 0 4px 0 #cc5229;
}

.listQuizSelect .item:nth-child(1) .btnQuizSelect.touchActive,
.listQuizSelect .item:nth-child(2) .btnQuizSelect.touchActive,
.listQuizSelect .item:nth-child(3) .btnQuizSelect.touchActive,
.listQuizSelect .item:nth-child(4) .btnQuizSelect.touchActive,
.listQuizSelect .item:nth-child(5) .btnQuizSelect.touchActive,
.listQuizSelect .item:nth-child(6) .btnQuizSelect.touchActive {
  position: relative;
  top: 3px;
}

.listQuizSelect .item:nth-child(1) .btnQuizSelect.touchActive {
  box-shadow: 0 1px 0 #cc0029;
}

.listQuizSelect .item:nth-child(2) .btnQuizSelect.touchActive {
  box-shadow: 0 1px 0 #3250ab;
}

.listQuizSelect .item:nth-child(3) .btnQuizSelect.touchActive {
  box-shadow: 0 1px 0 #cca300;
}

.listQuizSelect .item:nth-child(4) .btnQuizSelect.touchActive {
  box-shadow: 0 1px 0 #155915;
}

.listQuizSelect .item:nth-child(5) .btnQuizSelect.touchActive {
  box-shadow: 0 1px 0 #992699;
}

.listQuizSelect .item:nth-child(6) .btnQuizSelect.touchActive {
  box-shadow: 0 1px 0 #cc5229;
}

.wrap {
  position: relative;
  top: 50px;
  width: 100%;
}

.listSessionBox h2 {
  margin-top: 10px;
  padding: 10px;
  color: #666666;
  font-size: 18px;
  font-weight: normal;
}

.listSession .item {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

.listSession .item:first-child {
  border-top: 1px solid #dcdcdc;
}

.listSession .item.touchActive {
  background-color: #dcdcdc;
}

.listSession .item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 13px;
  margin-top: -7px;
  background-image: url("../../image/sp/arrow_sp.png");
  background-repeat: no-repeat;
  -moz-background-size: 8px 13px;
  -o-background-size: 8px 13px;
  -webkit-background-size: 8px 13px;
  background-size: 8px 13px;
}

.listSession .item a {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.listSession .item h3 {
  width: 300px;
  margin-bottom: 2px;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}

.listSession .item dt,
.listSession .item dd {
  vertical-align: top;
  float: left;
  color: #999999;
  font-size: 12px;
}

.listSession .item dt:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-right: 3px;
  background-image: url("../../image/sp/icon_time_sp.png");
  background-repeat: no-repeat;
  -moz-background-size: 12px 12px;
  -o-background-size: 12px 12px;
  -webkit-background-size: 12px 12px;
  background-size: 12px 12px;
}

.listSession .item p {
  width: 300px;
  margin-top: 3px;
  color: #95a6ad;
  font-size: 12px;
}

.pageSession {
  padding: 10px;
}

.pageSession h2 {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.timeSession {
  margin-bottom: 10px;
}

.abstractSession {
  margin-top: 10px;
  margin-bottom: 20px;
}

.timeSession dt,
.timeSession dd,
.presenterInfo dt,
.presenterInfo dd {
  float: left;
  font-size: 12px;
  font-weight: normal;
}

.timeSession dt,
.timeSession dd {
  color: #999999;
}

.presenterInfo dt,
.presenterInfo dd {
  color: #666666;
}

.abstractSession dt,
.abstractSession dd {
  color: #666666;
  font-size: 12px;
}

.abstractSession dt {
  font-size: 14px;
  font-weight: normal;
}

.boxGrafe {
  width: 100%;
  min-height: 180px;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.boxQuiz {
  padding-bottom: 50px;
}

.boxQuiz h2 {
  padding: 30px 10px 10px;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.listQuiz .item {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

.listQuiz .item:first-child {
  border-top: 1px solid #dcdcdc;
}

.listQuiz .item.touchActive {
  background-color: #dcdcdc;
}

.listQuiz .item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 13px;
  margin-top: -7px;
  background-image: url("../../image/sp/arrow_sp.png");
  background-repeat: no-repeat;
  -moz-background-size: 8px 13px;
  -o-background-size: 8px 13px;
  -webkit-background-size: 8px 13px;
  background-size: 8px 13px;
}

.listQuiz .item a {
  padding: 15px 10px;
  color: #666666;
  font-size: 14px;
  font-weight: normal;
}

.pageQuiz .timeSession {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.pageQuiz h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.paraQuiz {
  padding: 8px 10px 10px;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.paraQuiz dt,
.paraQuiz dd {
  color: #666666;
  font-size: 12px;
}

.paraQuiz dt {
  font-size: 14px;
  font-weight: normal;
}

.listQuizSelect {
  width: 100%;
  margin-bottom: 50px;
}

.listQuizSelect .item {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer {
  padding: 20px 10px;
  background-color: #7e7e7e;
  color: #ffffff;
  font-size: 11px;
}

.copyright {
  text-align: center;
}
