.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: #1e90ff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.logoMedtech {
  position: absolute;
  top: 10px;
  left: 10px;
}

.boxSettingSession {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btnStyle {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

.btnSetting {
  width: 60px;
  height: 28px;
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 0 #7e7e7e;
}

.btnGood {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: #666666;
  font-size: 18px;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 0 #7e7e7e;
}

.btnQuizSelect {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: #666666;
  font-size: 18px;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 0 #7e7e7e;
}

.wrap {
  position: relative;
  top: 50px;
  width: 100%;
}

.listSessionBox h2 {
  margin-top: 10px;
  padding: 10px;
  color: #666666;
  font-size: 18px;
  font-weight: normal;
}

.listSession .item {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

.listSession .item:first-child {
  border-top: 1px solid #dcdcdc;
}

.listSession .item.touchActive {
  background-color: #dcdcdc;
}

.listSession .item a {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.listSession .item h3 {
  width: 300px;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.listSession .item dt,
.listSession .item dd {
  float: left;
  color: #999999;
  font-size: 12px;
}

.listSession .item p {
  width: 300px;
  color: #95a6ad;
  font-size: 12px;
}

.pageSession {
  padding: 10px;
}

.pageSession h2 {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.timeSession {
  margin-bottom: 10px;
}

.abstractSession {
  margin-bottom: 20px;
}

.timeSession dt,
.timeSession dd {
  float: left;
  color: #999999;
  font-size: 12px;
  font-weight: normal;
}

.abstractSession dt,
.abstractSession dd {
  color: #95a6ad;
  font-size: 12px;
}

.abstractSession dt {
  font-weight: normal;
}

.boxGrafe {
  width: 100%;
  min-height: 180px;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.boxQuiz h2 {
  padding: 30px 10px 10px;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.listQuiz .item {
  border-bottom: 1px solid #dcdcdc;
}

.listQuiz .item:first-child {
  border-top: 1px solid #dcdcdc;
}

.listQuiz .item.touchActive {
  background-color: #dcdcdc;
}

.listQuiz .item a {
  padding: 15px 10px;
  color: #666666;
  font-size: 14px;
  font-weight: normal;
}

.pageQuiz .timeSession {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.pageQuiz h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.paraQuiz {
  padding: 8px 10px 10px;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.paraQuiz dt,
.paraQuiz dd {
  color: #666666;
  font-size: 14px;
}

.paraQuiz dt {
  font-weight: normal;
}

.listQuizSelect {
  width: 100%;
  margin-bottom: 50px;
}

.listQuizSelect .item {
  float: left;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.listQuizSelect .item:nth-child(odd) {
  padding-right: 5px;
}

.listQuizSelect .item:nth-child(even) {
  padding-left: 5px;
}

.footer {
  padding: 20px 10px;
  background-color: #7e7e7e;
  color: #ffffff;
  font-size: 11px;
}

.copyright {
  text-align: center;
}
