@import "compass";
@import "config";

// header
.header {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 70px;
	background-color: #1e90ff;
	// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 4px rgba(126, 126, 126, 0.7);
	z-index: 100;
}

.boxHeader {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.logoMedtech {
	position: absolute;
	top: 22px;
	left: 20px;
	width: 124px;
	height: 26px;
	background-image: url("../../image/pc/img_logo.png");
	background-repeat: no-repeat;
}

.boxSettingSession {
	position: absolute;
	top: 15px;
	right: 20px;
}

// wrapper
.wrap {
	position: relative;
	padding-top: 70px;
	width: 1010px;
	margin: 0 auto;
	// background-color: #f2f2f2;
}

// breadlist
.breadList {
	padding-top: 20px;
}

.pageSession .breadList {
	padding: 20px 20px 10px;
}

.breadList > span,
.breadList > span a {
	color: #666666;
	font-size: 14px;
}

.breadList > span a {
	display: inline;
	text-decoration: underline;
}

// Session List
.listSessionBox {
	padding: 20px;
	@include box-sizing(border-box);
}

.listSessionBox h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #666666;
	font-size: 28px;
	font-weight: normal;
}

.listSession .item {
	position: relative;
	float: left;
	width: 316px;
	min-height: 120px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #d8d8d8;
	box-shadow: 0 2px 0 rgba(216, 216, 216, 0.7);
	@include border-radius(3px);
	@include box-sizing(border-box);
}

.listSession .item:nth-child(3n) {
	margin-right: 0;
}

.listSession .item h3 a {
	margin-bottom: 5px;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
}

.listSession .item h3 a:hover {
	color: #1e90ff;
}

.listSession .item dl {
	margin-bottom: 8px;
}

.listSession .item dt,
.listSession .item dd  {
	vertical-align: top;
	float: left;
	font-size: 12px;
}

.listSession .item .time dt,
.listSession .item .time dd  {
	color: #999999;
}

.listSession .item dt,
.listSession .item dd  {
	color: #666666;
}

.listSession .item .time dt:before {
	display: inline-block;
	content: "";
	width: 14px;
	height: 14px;
	margin-right: 3px;
	background-image: url("../../image/pc/icon_time_pc.png");
	background-repeat: no-repeat;
}

.listSession .item p {
	// color: #95a6ad;
	color: #404040;
	font-size: 12px;
}

// Session Page
.pageSession {
	padding-bottom: 60px;
}

.boxSession,
.boxGrafe {
	@include box-sizing(border-box);
}

.boxSession { padding: 20px 0 20px 20px; }

.boxGrafe { padding: 20px; }

.boxSession {
	float: left;
	width: 316px;
}

.boxSession h2 {
	margin-bottom: 5px;
	font-size: 28px;
}

.boxSession h3 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 21px;
}

.boxSession h2,
.boxSession h3 {
	color: #666666;
	font-weight: normal;
}

.sessionInfo {
	padding-bottom: 15px;
	border-bottom: 1px solid #999999;
}

.session > dl {
	margin-bottom: 10px;
}

.session > dl dt,
.session > dl dd {
	float: left;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
}

.session.abstract {
	padding-top: 20px;
}

.session > dl dd {
	font-weight: normal;
}

.session.abstract > dl dt,
.session.abstract > dl dt {
	color: #666666;
}

.session.abstract > dl dd {
	font-weight: bold;
}

.session.abstract > dl dd {
	font-weight: normal;
}

.session  p {
	color: #95a6ad;
	font-size: 14px;
}

.btnStyle {
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	border: 0 none;
}

.btnSetting {
	width: 120px;
	height: 40px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0 3px 0 rgba(126, 126, 126, 1);
	@include border-radius(5px);
}

.btnGood {
	margin-top: 20px;
	width: 280px;
	height: 50px;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 5px 0 rgba(126, 126, 126, 1);
	@include border-radius(5px);
}

.btnGood.touchActive {
	position: relative;
	top: 4px;
	box-shadow: 0 1px 0 rgba(126, 126, 126, 1);
}

.btnSessionSetting {
	position: absolute;
	bottom: 20px;
	left: 40px;
	width: 120px;
	height: 40px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0 5px 0 rgba(126, 126, 126, 1);
	@include border-radius(5px);
}

.btnSessionSetting.touchActive {
	position: relative;
	top: 4px;
	box-shadow: 0 1px 0 rgba(126, 126, 126, 1);
}

.boxGrafe {
	float: left;
	width: 684px;
	min-height: 500px;
	// background-color: #dcdcdc;
}

.grafe {
	width: 660px;
	min-height: 460px;
	background-color: #ffffff;
	@include border-radius(3px);
	border: 1px solid #d8d8d8;
	box-shadow: 0 2px 0 rgba(216, 216, 216, 0.7);
	// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	// box-shadow: 0 2px 0 rgba(126, 126, 126, 0.6);
}

//  Quiz
.boxQuiz {
	padding: 20px 20px 60px;
	@include box-sizing(border-box);
}

.boxQuiz h2 {
	margin-bottom: 20px;
	color: #666666;
	font-size: 28px;
	font-weight: normal;
}

// .boxSession.quiz h2 {
// 	margin-bottom: 20px;
// }

.boxQuiz .item {
	position: relative;
	float: left;
	width: 225px;
	height: 45px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #d8d8d8;
	box-shadow: 0 2px 0 rgba(216, 216, 216, 0.7);
	// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	// box-shadow: 0 2px 0 rgba(126, 126, 126, 0.6);
	@include border-radius(3px);
	@include box-sizing(border-box);
}

.boxQuiz .item:nth-child(4n) {
	margin-right: 0;
}

.boxQuiz .item:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 8px;
	height: 13px;
	margin-top: -7px;
	background-image: url("../../image/pc/arrow.png");
	background-repeat: no-repeat;
	@include background-size(8px 13px);
}

.boxQuiz .item a {
	padding: 10px;
	color: #666666;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	line-height: 26px;
}

.boxQuiz .item a:hover {
	color: #1e90ff;
}

//  footer
.footer {
	width: 100%;
	padding: 35px 0 30px;
	background-color: #7e7e7e;
	color: #ffffff;
	font-size: 14px;
}

.footer .content {
	width: 970px;
	margin: 0 auto;
}

.copyright {
	text-align: right;
}

// Setting Session
.pageSettingSession {
	position: relative;
	padding: 20px 20px 50px;
}

.pageSettingSession h2,
.pageSettingSession h3 {
	margin-bottom: 10px;
	color: #666666;
	font-weight: normal;
}

.pageSettingSession h2 {
	font-size: 24px;
}

.pageSettingSession h3 {
	font-size: 18px;
}

.pageSettingSession .formBox {
	margin-bottom: 30px;
}

.formBox .inputSessionTitle,
.formBox .selectTime,
.formBox .abstract,
.formBox .paraQuiz {
	margin-left: 20px;
}

.listSettingQuizForm .item {
	padding-top: 10px;
	border-bottom: 1px solid #dcdcdc;
}

.listSettingQuizForm .item:last-child {
	border-bottom: none;
}

.quizChoiceList .inputSessionTitle {
	margin-bottom: 10px;
}

.formBox .inputSessionTitle {
	-webkit-appearance: none;
	appearance: none;
	width: 510px;
	padding: 5px 5px 7px;
	border: 1px solid #999999;
	@include border-radius(3px);
}

.formBox .abstract {
	-webkit-appearance: none;
	appearance: none;
	width: 500px;
	height: 200px;
	border: 1px solid #999999;
	@include border-radius(3px);
}

.formBox .paraQuiz {
	-webkit-appearance: none;
	appearance: none;
	width: 500px;
	height: 100px;
	border: 1px solid #999999;
	@include border-radius(3px);
}

.formBoxQuizNum {
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
}

.selectTime {
	margin-bottom: 10px;
}

.selectTime select,
.selectTime span {
	float: left;
}

.selectTime .colon,
.selectTime .selectLabel {
	color: #666666;
	font-size: 18px;
	font-weight: normal;
}

.formBoxQuizNum {

}

