@import "compass";
@import "config";

// .medtech {
// 	color: #ffffff;
// 	background: #000000;
// 	font-size: 12px;
// 	font-weight: bold;
// }

.header {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 50px;
	background-color: #1e90ff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.logoMedtech {
	position: absolute;
	top: 10px;
	left: 10px;
}

.boxSettingSession {
	position: absolute;
	top: 10px;
	right: 10px;
}

.btnStyle {
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

.btnSetting {
	width: 60px;
	height: 28px;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	@include border-radius(3px);
	box-shadow: 0 2px 0 rgba(126, 126, 126, 1);
}

.btnGood {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	color: #666666;
	font-size: 18px;
	font-weight: normal;
	@include border-radius(3px);
	box-shadow: 0 4px 0 rgba(126, 126, 126, 1);
}

.btnQuizSelect {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	@include border-radius(3px);
	box-shadow: 0 4px 0 rgba(126, 126, 126, 1);
}

//  Quiz Btn Color
.listQuizSelect .item:nth-child(1) .btnQuizSelect {
	background-color: #ff0033;
	box-shadow: 0 4px 0 rgba(204, 0, 41, 1);
}
.listQuizSelect .item:nth-child(2) .btnQuizSelect {
	background-color: #4169e1;
	box-shadow: 0 4px 0 rgba(50, 80, 171, 1);
}
.listQuizSelect .item:nth-child(3) .btnQuizSelect {
	background-color: #ffcc00;
	box-shadow: 0 4px 0 rgba(204, 163, 0, 1);
}
.listQuizSelect .item:nth-child(4) .btnQuizSelect {
	background-color: #228b22;
	box-shadow: 0 4px 0 rgba(21, 89, 21, 1);
}
.listQuizSelect .item:nth-child(5) .btnQuizSelect {
	background-color: #cc33cc;
	box-shadow: 0 4px 0 rgba(153, 38, 153, 1);
}
.listQuizSelect .item:nth-child(6) .btnQuizSelect {
	background-color: #ff6633;
	box-shadow: 0 4px 0 rgba(204, 82, 41, 1);
}

.wrap {
	position: relative;
	top: 50px;
	width: 100%;
}

.listSessionBox h2 {
	margin-top: 10px;
	padding: 10px;
	color: #666666;
	font-size: 18px;
	font-weight: normal;
}

.listSession .item {
	position: relative;
	border-bottom: 1px solid #dcdcdc;
}

.listSession .item:first-child {
	border-top: 1px solid #dcdcdc;
}

.listSession .item.touchActive {
	background-color: #dcdcdc;
}

.listSession .item:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 8px;
	height: 13px;
	margin-top: -7px;
	background-image: url("../../image/arrow_sp.png");
	background-repeat: no-repeat;
	@include background-size(8px 13px);
}

.listSession .item a {
	padding: 10px;
	@include box-sizing(border-box);
}

.listSession .item h3 {
	width: 300px;
	color: #666666;
	font-size: 16px;
	font-weight: normal;
}

.listSession .item dt,
.listSession .item dd {
	float: left;
	color: #666666;
	font-size: 12px;
}

.listSession .item p {
	width: 300px;
	// margin-top: 5px;
	color: #95a6ad;
	font-size: 12px;
}

// pageSession
.pageSession {
	padding: 10px;
}

.pageSession h2 {
	color: #666666;
	font-size: 16px;
	font-weight: normal;
}

.timeSession {
	margin-bottom: 10px;
}

.abstractSession {
	margin-bottom: 20px;
}

.timeSession dt,
.timeSession dd {
	float: left;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}

.abstractSession dt,
.abstractSession dd {
	color: #666666;
	font-size: 12px;
}

.abstractSession dt {
	font-size: 14px;
	font-weight: normal;
}

// グラフ
.boxGrafe {
	width: 100%;
	min-height: 180px;
	// background-color: #dcdcdc;
	border: 1px solid #dcdcdc;
	// box-shadow: 0 2px 0 rgba(126, 126, 126, 0.6);
	@include border-radius(3px);
}

.boxQuiz {
	padding-bottom: 50px;
}

.boxQuiz h2 {
	padding: 30px 10px 10px;
	color: #666666;
	font-size: 16px;
	font-weight: normal;
}

.listQuiz .item {
	position: relative;
	border-bottom: 1px solid #dcdcdc;
}

.listQuiz .item:first-child {
	border-top: 1px solid #dcdcdc;
}

.listQuiz .item.touchActive {
	background-color: #dcdcdc;
}

.listQuiz .item:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 8px;
	height: 13px;
	margin-top: -7px;
	background-image: url("../../image/sp/arrow_sp.png");
	background-repeat: no-repeat;
	@include background-size(8px 13px);
}

.listQuiz .item a {
	padding: 15px 10px;
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}

// クイズ
.pageQuiz .timeSession {
	padding-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
}

.pageQuiz h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	color: #666666;
	font-size: 16px;
	font-weight: normal;
}

.paraQuiz {
	padding: 8px 10px 10px;
	border: 1px solid #dcdcdc;
	@include border-radius(3px);
}

.paraQuiz dt,
.paraQuiz dd {
	color: #666666;
	font-size: 12px;
}

.paraQuiz dt {
	font-size: 14px;
	font-weight: normal;
}

.listQuizSelect {
	width: 100%;
	margin-bottom: 50px;
	// padding: 0 10px;
}

.listQuizSelect .item {
	float: left;
	width: 50%;
	@include box-sizing(border-box);
}

.listQuizSelect .item:nth-child(odd) {
	padding-right: 5px;
}

.listQuizSelect .item:nth-child(even) {
	padding-left: 5px;
}

//  footer
.footer {
	padding: 20px 10px;
	background-color: #7e7e7e;
	color: #ffffff;
	font-size: 11px;
}

.copyright {
	text-align: center;
}
